.download {
    display: flex;
    flex-direction: column;
    max-width: 56rem;
    margin: auto;

    &__btn {
        font-size: $sm-font;
        font-weight: $bold;
        color: $neutral;
        margin: 1.6rem auto;
        padding: 1.6rem;
        cursor: pointer;
        width: 100%;
        border: none;
        border-radius: 4rem;
        box-shadow: 0 .2rem;

        &:hover {
            opacity: .7;
        }


        &--ios {
            background-color: $primary-color;
            box-shadow: 0 .3rem $primary-color-d;
        }

        &--mac {
            background-color: $secondary-color;
            box-shadow: 0 .3rem $secondary-color-d;
        }
    }
}

@media (min-width: 760px) {
    
    .download {
        flex-direction: row;
        column-gap: 1.6rem;
    }
}