.brands {
    display: flex;
    flex-direction: column;
    margin: 10.4rem auto;
    
    &__logo {
        max-width: 16rem;
        margin: 3.2rem auto;
    }
}

@media (min-width: 1400px) {

    .brands  {
        display: inline-block;
        justify-content: space-between;

        &__logo {
            max-width: 15%;
        }
    }
}