.features {
    margin: 8rem auto;

    &-headline__text {
        margin: 1.6rem auto;
    }

   
    &-snippets {

        &__img {
            margin: 4.8rem auto;
        }

        &-content {

            &__text {
                margin: .8rem auto 4.8rem;
            }
        }
    }
}

@media (min-width: 1400px) {
    
    .features {
        max-width: 144rem;

        &-snippets {
            display: flex;
            align-items: center;
            text-align: left;

            &__img {
                margin-left: -6.4rem;
            }

            &-content {
                max-width: 40rem;
                margin-right: 24rem;
            }
        }
    }
}