.container{
    font-family: $default-font;
    font-weight: $normal;
    text-align: center;
    padding: 0 2.4rem;
}

.img {
    max-width: 100%;
}

.title {
    color: $dark-neutral;
    font-size: $md-font;
}

.text {
    color: $light-neutral;
    font-size: $sm-font;
    line-height: 1.6;
    margin: 2.4rem auto;
}

h2.title {
    font-size: $lg-font;
}

.headline {
    max-width: 70rem;
    text-align: center;
    margin: auto;
}

.attribution {
    margin-bottom: .1rem;

    p {
    font-size: 1.4rem;
    font-family: 'Times New Roman', Times, serif;
    color: $light-neutral
    }

    a {
        color: $dark-neutral;

        &:hover {
            text-decoration: underline;
        }
    }
}