.tools {

    &-headline {
        margin: 0 auto 6.4rem;

        &__text {
            margin-top: 1.6rem;
        }
    }

    &-articles {

        &-item {
            margin: 6.4rem auto 0;

            &__img {
                margin: 2.4rem auto;
            }
        }
    }
}